<!DOCTYPE html>
<html lang="en">

<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
  <title>What kind of startup founder are you?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <form action="{{ url_for('main') }}" method="POST">
    <legend>What kind of startup :</legend>
    How many fundraising rounds are you going for?:
    <input name="num_rounds" type="number" min="0" max="15" value="0" required>
    <br>
    <br> How aggressive are you in getting that first funding round?:<br>
    <input type="radio" name ="time_first_round" value="0"> I'll just boostrap it.<br>
    <input type="radio" name ="time_first_round" value="1"> Meh. Maybe.<br>
    <input type="radio" name ="time_first_round" value="2"> Thinking about it.<br>
    <input type="radio" name ="time_first_round" value="3"> Pretty narrow funding timeline.<br>
    <input type="radio" name ="time_first_round" value="4" checked> Show me the money!
    <br>
    <br> How many months do you wait before going for that next funding round?:
    <input name="time_btw_round" type="number" min="0" max="48" value="0" required>
    <br>
    <br> What is your preferred funding round type?:<br>
    <input type="radio" name ="funding_type" value="funding_round_type_debt_financing"> Debt financing<br>
    <input type="radio" name ="funding_type" value="funding_round_type_post_ipo_debt"> Post IPO debt<br>
    <input type="radio" name ="funding_type" value="funding_round_type_post_ipo_equity"> Post IPO equity<br>
    <input type="radio" name ="funding_type" value="funding_round_type_private_equity"> Private equity<br>
    <input type="radio" name ="funding_type" value="funding_round_type_venture" checked> Venture capital<br>
    <input type="radio" name ="funding_type" value="other"> Other
    <br>
    <br> When was your startup founded?:
    <input name="founding_date" type="month" min="1900-01" max="2014-12" required>
    <br>
    <br> Which country was your startup founded in?:
    <select name="country">
      <option value="country_can">Canada</option>
      <option value="country_chn">China</option>
      <option value="country_deu">Germany</option>
      <option value="country_esp">Spain</option>
      <option value="country_fra">France</option>
      <option value="country_gbr">Great Britain</option>
      <option value="country_ind">India</option>
      <option value="country_isr">Israel</option>
      <option value="country_other">Other</option>
      <option value="country_usa">USA</option>
    </select>
    <br>
    <br> What investor profile do you prefer?:<br>
    <input type="radio" name ="investor_type" value="0"> Small niche investors.<br>
    <input type="radio" name ="investor_type" value="1"> Slightly larger cheque sizes.<br>
    <input type="radio" name ="investor_type" value="2"> Relatively known and cross-industry.<br>
    <input type="radio" name ="investor_type" value="3" checked> I will only speak to Kleiner Perkins.
    <br>
    <br> How acquisitive are you as a company?:<br>
    <input type="radio" name ="acq_type" value="0"> Nah, I'll build out everything myself.<br>
    <input type="radio" name ="acq_type" value="1"> Only if absolutely necessary.<br>
    <input type="radio" name ="acq_type" value="2"> I'll be on the lookout.<br>
    <input type="radio" name ="acq_type" value="3" checked> There won't be any upstarts sniffing around my market.
    <br>
    <br> Which market are you targeting?:
    <select name="market">
      <option value="market_biotechnology">Biotechnology</option>
      <option value="market_clean technology">Clean Technology</option>
      <option value="market_enterprise software">Enterprise Software</option>
      <option value="market_finance">Finance</option>
      <option value="market_health and wellness">Health and Wellness</option>
      <option value="market_hospitality">Hospitality</option>
      <option value="market_internet">Internet</option>
      <option value="market_mobile">Mobile</option>
      <option value="market_other">Other</option>
    </select>
    <br>
    <br>
    <input type="submit">
    <input type="reset">
  </form>

  <div class="result" align="center">
      {% if result %}
      	<br> Predicted mean amount raised each round:
     		<p style="font-size:50px">$ {{ result }}</p>
      {% endif %}
  </div>
</body>
</html>
